template
  #content.home-content
    #user-row(if.bind="state.user")
      #created
        .title User Created Polls
        ul
          li(repeat.for="poll of user.created | repeatlimit:0:5")
            a(route-href="route: poll; params.bind: { id: poll.id, name: poll.name }")
              .canvas-wrapper
                canvas(id="created-canvas-${poll.id}" style="width: 100%; height: 100%")
              .poll-name ${poll.name}
              .is-public(show.bind="poll.isPublic") Public Poll

      #participated
        .title User Participated Polls
        ul
          li(repeat.for="poll of user.participated | repeatlimit:0:5")
            a(route-href="route: poll; params.bind: { id: poll.id, name: poll.name }")
              .canvas-wrapper
                canvas(id="participated-canvas-${poll.id}" style="width: 100%; height: 100%")
              .poll-name ${poll.name}
              .is-public(show.bind="poll.isPublic") Public Poll

    #general-row
      #latest
        .title Latest Polls Created
        ul
          li(repeat.for="poll of state.polls | sortpolls:'date':'descending' | repeatlimit:0:5")
            a(route-href="route: poll; params.bind: { id: poll.id, name: poll.name }")
              .canvas-wrapper
                canvas(id="latest-canvas-${poll.id}" style="width: 100%; height: 100%")
              .poll-name ${poll.name}
              .is-public(show.bind="poll.isPublic") Public Poll

      #most
        .title Most Participated Polls
        ul
          li(repeat.for="poll of state.polls | sortpolls:'votes':'descending' | repeatlimit:0:5")
            a(route-href="route: poll; params.bind: { id: poll.id, name: poll.name }")
              .canvas-wrapper
                canvas(id="most-canvas-${poll.id}" style="width: 100%; height: 100%")
              .poll-name ${poll.name}
              .is-public(show.bind="poll.isPublic") Public Poll