template
  #content.poll-content
    input#vote-radio(type="radio" name="selector" change.delegate="donecancel('cancel')")
    input#edit-radio(type="radio" name="selector")

    #title ${state.polls[poll].name.length ? state.polls[poll].name : 'NEW POLL'}

    #options-row(if.bind="state.user.username === state.polls[poll].owner")
      span You own this poll:
      label#vote-label(for="vote-radio") Vote
      label#edit-label(for="edit-radio") Edit
      span#delete(click.delegate="deletePoll()") Delete Poll

    #main
      #left-column(if.bind="state.polls[poll].isPublic ? true : state.user.username ? true : false")
        #spinner
          .spinner
            span
            span
            span

        #vote
          ul
            li(repeat.for="choice of state.polls[poll].choices")
              input(type="radio" name="choice" id="select-${choice.id}" model.bind="choice.id" checked.bind="vote")
              label(for="select-${choice.id}")
                span ${choice.name}

        #edit(if.bind="state.user.username === state.polls[poll].owner")
          #edit-inputs
            div
              span Poll name:&nbsp;
              input(type="text" autocomplete='off' id="edit-name" placeholder="Poll Name (Length: 4 - 24)" minlength="4" maxlength="24" keydown.delegate!="checkInput() & debounce" value.bind="state.polls[poll].name" required)

            div
              span Allow voting without logging in:&nbsp;
              input(type="checkbox" id="edit-public" checked.bind="state.polls[poll].isPublic" change.delegate="checkInput()")
              label(for="edit-public")

            ol
              li(repeat.for="choice of state.polls[poll].choices")
                input(type="text" autocomplete='off' id="edit-${choice.id}" placeholder="Choice Name (Length: 3 - 16)" minlength="3" maxlength="16" keydown.delegate!="checkInput() & debounce" value.bind="choice.name" required)
                img(src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_delete_black_24px.svg" click.delegate="addremove($index)" css="visibility: ${state.polls[poll].choices.length > 2 ? 'visible' : 'hidden'};")

          #edit-buttons
            div(css="visibility: ${state.polls[poll].choices.length < 8 ? 'visible' : 'hidden'};")
              button#add-choice(click.delegate="addremove(null)") Add Choice
              span (Choices: 2 - 8)

            div
              button#edit-done(click.delegate="donecancel('done')") Done
              button#edit-cancel(click.delegate="donecancel('cancel')") Cancel

      #right-column
        .canvas-wrapper
          canvas(id="current-canvas-${state.polls[poll].id}" style="width: 100%; height: 100%")